HA-Lightning-11-18-21.json
[{"id":"596ea643fd1adc02","type":"tab","label":"Lightning Monitor","disabled":false,"info":"","env":[]},{"id":"51d376e1.c3fa58","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30},{"id":"ae04f78c.ce454","type":"mqtt-broker","name":"","broker":"10.0.0.159","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"76129ed665f7d008","type":"inject","z":"596ea643fd1adc02","name":"Lightning not in area 58 Km","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"58","payloadType":"num","x":200,"y":200,"wires":[["bb7d9b42a4a15f42"]]},{"id":"2e8404d42d1c7ef4","type":"comment","z":"596ea643fd1adc02","name":"Test Inputs","info":"","x":80,"y":140,"wires":[]},{"id":"327deb5fb2d4ce19","type":"trigger-state","z":"596ea643fd1adc02","name":"Lightning Distance","server":"51d376e1.c3fa58","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"sensor.blitzortung_lightning_distance","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":">=","comparatorValueDatatype":"num","comparatorValue":"0","propertyValue":"new_state.state"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":true,"state_type":"num","enableInput":true,"x":130,"y":280,"wires":[["bb7d9b42a4a15f42"],[]]},{"id":"a6eeda2f27567e25","type":"switch","z":"596ea643fd1adc02","name":"Is Lightning <= 10","property":"msgMile","propertyType":"global","rules":[{"t":"lte","v":"10","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":280,"wires":[["b7841b3b88998c1c"],[]]},{"id":"e009508be8c851a0","type":"comment","z":"596ea643fd1adc02","name":"Lightning in Area Logic","info":"","x":140,"y":80,"wires":[]},{"id":"df1b58da20e6d8b2","type":"trigger","z":"596ea643fd1adc02","name":"","op1":"0","op2":"","op1type":"num","op2type":"nul","duration":"30","extend":true,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":190,"y":340,"wires":[["d9e5af57d1c69448"]]},{"id":"6b0bb709fd35d119","type":"function","z":"596ea643fd1adc02","name":"Send no lightning","func":"msg.payload = \"no\";\nmsg.topic = \"lightning/strike\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":420,"wires":[["a8b9eee2d0e050e8"]]},{"id":"d9e5af57d1c69448","type":"function","z":"596ea643fd1adc02","name":"Send yes lightning","func":"global.set('skokieBadWeatherSwitch',true);\nmsg.payload = \"yes\";\nmsg.topic = \"lightning/strike\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":340,"wires":[["61e8099c42992f56","a8b9eee2d0e050e8"]]},{"id":"9ddf799ac3a9561b","type":"inject","z":"596ea643fd1adc02","name":"Lightning = 8","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"8","payloadType":"num","x":290,"y":140,"wires":[["bb7d9b42a4a15f42"]]},{"id":"b7841b3b88998c1c","type":"link out","z":"596ea643fd1adc02","name":"","links":["561f2989.7357f8","8eeacf0.25fc93","08d428abe974c4ad"],"x":875,"y":240,"wires":[]},{"id":"6345ab80a3b5387b","type":"comment","z":"596ea643fd1adc02","name":"Flow Information","info":"This flow has been programmed to:\n     1) Send a message to the switch Pi when lighntning detect within 10 miles.\n     2) Configure the MQTT IP address to match the receiving Pi.\n     \n     Thanks to Dave Hartley K5OZ for 99%  of setup","x":120,"y":20,"wires":[]},{"id":"bb7d9b42a4a15f42","type":"function","z":"596ea643fd1adc02","name":"convert to mile","func":"tempMsg = msg.payload * 0.621371;\nmsg.payload = Math.round(tempMsg * 100/100);\nglobal.set('msgMile', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":280,"wires":[["a6eeda2f27567e25"]]},{"id":"08d428abe974c4ad","type":"link in","z":"596ea643fd1adc02","name":"Good/Bad Text","links":["671110f8.0de7","1917c6ef.1e1591","b7841b3b88998c1c"],"x":55,"y":340,"wires":[["df1b58da20e6d8b2"]]},{"id":"a2420d853faa8afd","type":"delay","z":"596ea643fd1adc02","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":210,"y":420,"wires":[["6b0bb709fd35d119"]]},{"id":"5bc5ec058a841f14","type":"link in","z":"596ea643fd1adc02","name":"","links":["61e8099c42992f56"],"x":55,"y":420,"wires":[["a2420d853faa8afd"]]},{"id":"61e8099c42992f56","type":"link out","z":"596ea643fd1adc02","name":"","links":["5bc5ec058a841f14"],"x":575,"y":360,"wires":[]},{"id":"a8b9eee2d0e050e8","type":"mqtt out","z":"596ea643fd1adc02","name":"","topic":"lightning/strike","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"ae04f78c.ce454","x":860,"y":360,"wires":[]}]