HA4relayhat-11-22-21.json
[{"id":"596ea643fd1adc02","type":"tab","label":"Lightning Monitor","disabled":false,"info":"","env":[]},{"id":"2ad44b4d55be7553","type":"ui_tab","name":"Antennas","icon":"dashboard","disabled":false,"hidden":false},{"id":"71726da7a20c9068","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"6851573250bd956a","type":"ui_group","name":"Antenna 1","tab":"2ad44b4d55be7553","order":2,"disp":true,"width":"3","collapse":false,"className":""},{"id":"51d376e1.c3fa58","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30},{"id":"d6a510ba5b192c23","type":"ui_group","name":"Master","tab":"2ad44b4d55be7553","order":1,"disp":true,"width":"3","collapse":false,"className":""},{"id":"cdae3de370f9f85f","type":"ui_group","name":"Antenna 2","tab":"2ad44b4d55be7553","order":3,"disp":true,"width":"3","collapse":false,"className":""},{"id":"ed5f2210296448d4","type":"ui_group","name":"Antenna 3","tab":"2ad44b4d55be7553","order":4,"disp":true,"width":"3","collapse":false,"className":""},{"id":"72eec62aa8140150","type":"ui_group","name":"Antenna 4","tab":"2ad44b4d55be7553","order":5,"disp":true,"width":"3","collapse":false,"className":""},{"id":"76129ed665f7d008","type":"inject","z":"596ea643fd1adc02","name":"Lightning not in area 58 Km","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"58","payloadType":"num","x":200,"y":200,"wires":[["bb7d9b42a4a15f42"]]},{"id":"2e8404d42d1c7ef4","type":"comment","z":"596ea643fd1adc02","name":"Test Inputs","info":"","x":80,"y":140,"wires":[]},{"id":"327deb5fb2d4ce19","type":"trigger-state","z":"596ea643fd1adc02","name":"Lightning Distance","server":"51d376e1.c3fa58","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"sensor.blitzortung_lightning_distance","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":">=","comparatorValueDatatype":"num","comparatorValue":"0","propertyValue":"new_state.state"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":true,"state_type":"num","enableInput":true,"x":130,"y":280,"wires":[["bb7d9b42a4a15f42"],[]]},{"id":"a6eeda2f27567e25","type":"switch","z":"596ea643fd1adc02","name":"Is Lightning <= 10 miles","property":"msgMile","propertyType":"global","rules":[{"t":"lte","v":"10","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":280,"wires":[["b7841b3b88998c1c"],[]]},{"id":"e009508be8c851a0","type":"comment","z":"596ea643fd1adc02","name":"Lightning in Area Logic","info":"","x":140,"y":80,"wires":[]},{"id":"df1b58da20e6d8b2","type":"trigger","z":"596ea643fd1adc02","name":"","op1":"0","op2":"","op1type":"num","op2type":"nul","duration":"30","extend":true,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":170,"y":340,"wires":[["d9e5af57d1c69448"]]},{"id":"6b0bb709fd35d119","type":"function","z":"596ea643fd1adc02","name":"Send no lightning","func":"msg.payload = true;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":340,"wires":[["d4ebba1662c344d0"]]},{"id":"d9e5af57d1c69448","type":"function","z":"596ea643fd1adc02","name":"Send false","func":"msg.payload = false;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":340,"wires":[["78fd8b65d253bcf3","a2420d853faa8afd"]]},{"id":"9ddf799ac3a9561b","type":"inject","z":"596ea643fd1adc02","name":"Lightning = 8","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"8","payloadType":"num","x":330,"y":140,"wires":[["bb7d9b42a4a15f42"]]},{"id":"b7841b3b88998c1c","type":"link out","z":"596ea643fd1adc02","name":"","links":["561f2989.7357f8","8eeacf0.25fc93","08d428abe974c4ad"],"x":755,"y":280,"wires":[]},{"id":"6345ab80a3b5387b","type":"comment","z":"596ea643fd1adc02","name":"Flow Information","info":"This flow has been programmed to:\n     1) Send a message to the switch Pi when lighntning detect within 10 miles.\n     2) Configure the MQTT IP address to match the receiving Pi.\n     \n     Thanks to Dave Hartley K5OZ for 99%  of setup","x":120,"y":20,"wires":[]},{"id":"bb7d9b42a4a15f42","type":"function","z":"596ea643fd1adc02","name":"convert to mile","func":"tempMsg = msg.payload * 0.621371;\nmsg.payload = Math.round(tempMsg * 100/100);\nglobal.set('msgMile', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":280,"wires":[["a6eeda2f27567e25"]]},{"id":"08d428abe974c4ad","type":"link in","z":"596ea643fd1adc02","name":"Good/Bad Text","links":["671110f8.0de7","1917c6ef.1e1591","b7841b3b88998c1c"],"x":55,"y":340,"wires":[["df1b58da20e6d8b2"]]},{"id":"a2420d853faa8afd","type":"delay","z":"596ea643fd1adc02","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":550,"y":340,"wires":[["6b0bb709fd35d119"]]},{"id":"84deffa3f33e40c9","type":"rpi-gpio out","z":"596ea643fd1adc02","name":"","pin":"4","set":"","level":"0","freq":"","out":"out","bcm":true,"x":770,"y":520,"wires":[]},{"id":"0ae35a02991d5eee","type":"ui_button","z":"596ea643fd1adc02","name":"","group":"6851573250bd956a","order":3,"width":0,"height":0,"passthru":false,"label":"Relay 1 On","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":130,"y":540,"wires":[["d4ebba1662c344d0","03d93989ccf98031"]]},{"id":"aef389de3083e29b","type":"inject","z":"596ea643fd1adc02","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":130,"y":580,"wires":[["d4ebba1662c344d0"]]},{"id":"4c9863215035aff2","type":"inject","z":"596ea643fd1adc02","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":130,"y":620,"wires":[["d4ebba1662c344d0"]]},{"id":"d4c44a0df5810480","type":"ui_button","z":"596ea643fd1adc02","name":"","group":"6851573250bd956a","order":4,"width":0,"height":0,"passthru":false,"label":"Relay 1 Off","tooltip":"","color":"","bgcolor":"RED","className":"","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":130,"y":660,"wires":[["d4ebba1662c344d0"]]},{"id":"ef4af92f18533cac","type":"rpi-gpio out","z":"596ea643fd1adc02","name":"","pin":"22","set":"","level":"0","freq":"","out":"out","bcm":true,"x":780,"y":800,"wires":[]},{"id":"45823581c389fc45","type":"rpi-gpio out","z":"596ea643fd1adc02","name":"","pin":"6","set":"","level":"0","freq":"","out":"out","bcm":true,"x":800,"y":1000,"wires":[]},{"id":"dc754cf4b11c75b5","type":"rpi-gpio out","z":"596ea643fd1adc02","name":"","pin":"26","set":"","level":"0","freq":"","out":"out","bcm":true,"x":780,"y":1180,"wires":[]},{"id":"69dfaffa09793a85","type":"ui_button","z":"596ea643fd1adc02","name":"","group":"cdae3de370f9f85f","order":5,"width":0,"height":0,"passthru":false,"label":"Relay 2 On","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":190,"y":760,"wires":[["9f2e01e613689de8","ec487a0eaf664350"]]},{"id":"579dd9817d1a8755","type":"inject","z":"596ea643fd1adc02","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":185,"y":800,"wires":[["ec487a0eaf664350"]]},{"id":"292bde78b72ee6ea","type":"inject","z":"596ea643fd1adc02","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":190,"y":840,"wires":[["ec487a0eaf664350"]]},{"id":"a45c0217d1238e22","type":"ui_button","z":"596ea643fd1adc02","name":"","group":"cdae3de370f9f85f","order":6,"width":0,"height":0,"passthru":false,"label":"Relay 2 Off","tooltip":"","color":"","bgcolor":"RED","className":"","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":190,"y":880,"wires":[["ec487a0eaf664350"]]},{"id":"a861d0a91c50a995","type":"ui_button","z":"596ea643fd1adc02","name":"","group":"ed5f2210296448d4","order":7,"width":0,"height":0,"passthru":false,"label":"Relay 3 On","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":207,"y":940,"wires":[["8f25f0519bbf4046","df462f70f2d65da8"]]},{"id":"7f5cc7c429f80d0d","type":"inject","z":"596ea643fd1adc02","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":189,"y":991,"wires":[["8f25f0519bbf4046"]]},{"id":"23b09f599cf08310","type":"inject","z":"596ea643fd1adc02","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":190,"y":1040,"wires":[["8f25f0519bbf4046"]]},{"id":"a9e5cdd75b15a25d","type":"ui_button","z":"596ea643fd1adc02","name":"","group":"ed5f2210296448d4","order":8,"width":0,"height":0,"passthru":false,"label":"Relay 3 Off","tooltip":"","color":"","bgcolor":"RED","className":"","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":190,"y":1080,"wires":[["8f25f0519bbf4046"]]},{"id":"94c3bb2fd2e94398","type":"ui_button","z":"596ea643fd1adc02","name":"","group":"72eec62aa8140150","order":10,"width":0,"height":0,"passthru":false,"label":"Relay 4 On","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":190,"y":1140,"wires":[["4f4e7195ca0a7fa6","aedcf1481e81cbcd"]]},{"id":"ba9771484cddafb8","type":"inject","z":"596ea643fd1adc02","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":210,"y":1180,"wires":[["aedcf1481e81cbcd"]]},{"id":"97bd8f06a62ac47b","type":"inject","z":"596ea643fd1adc02","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":194,"y":1217,"wires":[["aedcf1481e81cbcd"]]},{"id":"b509f6eef44d1479","type":"ui_button","z":"596ea643fd1adc02","name":"","group":"72eec62aa8140150","order":11,"width":0,"height":0,"passthru":false,"label":"Relay 4 Off","tooltip":"","color":"","bgcolor":"RED","className":"","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":190,"y":1260,"wires":[["aedcf1481e81cbcd"]]},{"id":"a0ad2b7ada4d04fc","type":"ui_led","z":"596ea643fd1adc02","order":12,"group":"72eec62aa8140150","width":0,"height":0,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"LED 4","x":770,"y":1280,"wires":[]},{"id":"c8697bc8874afabf","type":"ui_led","z":"596ea643fd1adc02","order":9,"group":"ed5f2210296448d4","width":0,"height":0,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"LED 3","x":810,"y":1060,"wires":[]},{"id":"839c1379b54a6927","type":"ui_button","z":"596ea643fd1adc02","name":"","group":"d6a510ba5b192c23","order":1,"width":0,"height":0,"passthru":false,"label":"All Off","tooltip":"","color":"","bgcolor":"RED","className":"","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":130,"y":480,"wires":[["78fd8b65d253bcf3"]]},{"id":"4898808612114d7c","type":"ui_led","z":"596ea643fd1adc02","order":9,"group":"cdae3de370f9f85f","width":0,"height":0,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"LED 2","x":770,"y":860,"wires":[]},{"id":"d39ed53208457ac0","type":"ui_led","z":"596ea643fd1adc02","order":9,"group":"6851573250bd956a","width":0,"height":0,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"LED 1","x":790,"y":580,"wires":[]},{"id":"20eb3c61a3b6f08a","type":"link in","z":"596ea643fd1adc02","name":"","links":["78fd8b65d253bcf3","d4ebba1662c344d0","7a9e24543feae6bd","10074e30f13302e5","35a297580f9507da"],"x":655,"y":540,"wires":[["84deffa3f33e40c9","d39ed53208457ac0"]]},{"id":"78fd8b65d253bcf3","type":"link out","z":"596ea643fd1adc02","name":"","mode":"link","links":["20eb3c61a3b6f08a","62273cd5bd4790bd","becfa1c5fac8c366","c242350fba8696cd"],"x":255,"y":480,"wires":[]},{"id":"62273cd5bd4790bd","type":"link in","z":"596ea643fd1adc02","name":"","links":["ec487a0eaf664350","4037301e87c86645","78fd8b65d253bcf3","10074e30f13302e5","35a297580f9507da"],"x":655,"y":820,"wires":[["ef4af92f18533cac","4898808612114d7c"]]},{"id":"03d93989ccf98031","type":"function","z":"596ea643fd1adc02","name":"Make Msg False","func":"msg.payload = false;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":600,"wires":[["4037301e87c86645"]]},{"id":"d4ebba1662c344d0","type":"link out","z":"596ea643fd1adc02","name":"","mode":"link","links":["20eb3c61a3b6f08a"],"x":315,"y":540,"wires":[]},{"id":"4037301e87c86645","type":"link out","z":"596ea643fd1adc02","name":"","mode":"link","links":["62273cd5bd4790bd","becfa1c5fac8c366"],"x":475,"y":600,"wires":[]},{"id":"9f2e01e613689de8","type":"function","z":"596ea643fd1adc02","name":"Make Msg False","func":"msg.payload = false;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":820,"wires":[["7a9e24543feae6bd"]]},{"id":"ec487a0eaf664350","type":"link out","z":"596ea643fd1adc02","name":"","mode":"link","links":["62273cd5bd4790bd"],"x":305,"y":760,"wires":[]},{"id":"7a9e24543feae6bd","type":"link out","z":"596ea643fd1adc02","name":"","mode":"link","links":["20eb3c61a3b6f08a","becfa1c5fac8c366","c242350fba8696cd"],"x":495,"y":820,"wires":[]},{"id":"8f25f0519bbf4046","type":"link out","z":"596ea643fd1adc02","name":"","mode":"link","links":["becfa1c5fac8c366"],"x":365,"y":940,"wires":[]},{"id":"df462f70f2d65da8","type":"function","z":"596ea643fd1adc02","name":"Make Msg False","func":"msg.payload = false;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":1020,"wires":[["10074e30f13302e5"]]},{"id":"becfa1c5fac8c366","type":"link in","z":"596ea643fd1adc02","name":"","links":["8f25f0519bbf4046","7a9e24543feae6bd","35a297580f9507da","78fd8b65d253bcf3","4037301e87c86645"],"x":635,"y":1000,"wires":[["45823581c389fc45","c8697bc8874afabf"]]},{"id":"10074e30f13302e5","type":"link out","z":"596ea643fd1adc02","name":"","mode":"link","links":["20eb3c61a3b6f08a","62273cd5bd4790bd","c242350fba8696cd"],"x":565,"y":1060,"wires":[]},{"id":"4f4e7195ca0a7fa6","type":"function","z":"596ea643fd1adc02","name":"Make Msg False","func":"msg.payload = false;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":1200,"wires":[["35a297580f9507da"]]},{"id":"aedcf1481e81cbcd","type":"link out","z":"596ea643fd1adc02","name":"","mode":"link","links":["c242350fba8696cd"],"x":365,"y":1140,"wires":[]},{"id":"c242350fba8696cd","type":"link in","z":"596ea643fd1adc02","name":"","links":["aedcf1481e81cbcd","78fd8b65d253bcf3","10074e30f13302e5","7a9e24543feae6bd"],"x":635,"y":1200,"wires":[["a0ad2b7ada4d04fc","dc754cf4b11c75b5"]]},{"id":"35a297580f9507da","type":"link out","z":"596ea643fd1adc02","name":"","mode":"link","links":["becfa1c5fac8c366","62273cd5bd4790bd","20eb3c61a3b6f08a"],"x":555,"y":1220,"wires":[]}]